* {
    padding: 0;
    margin: 0;
    font-family: "Montserrat Alternates", sans-serif;

}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;

}

.btn {
    font-size: 26px;
    font-weight: 700;
    color: #364300;
    padding: 25px 75px;
    border-radius: 15px;
    background: linear-gradient(75.57deg, #A2B06E 21%, #FAFFE6 149.36%);
    border: none;

    border-bottom: 5px solid #A2B06E;

    cursor: pointer;
    transition: all 0.4s;

    &:hover{
        scale: 1.1;
    }
}

.header {
    background-image: url(./img/bg.png);

    background-repeat: no-repeat;
    background-size: cover;
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;

    @media (max-width: 850px) {
        flex-direction: column;
        gap: 30px;
    }
}

.menu-box {
    display: flex;
    align-items: center;
    gap: 60px;



    a {
        color: rgba(191, 96, 138, 1);
        text-decoration: none;
        font-weight: 700;
        text-transform: uppercase;
    }
}

.logo {
    font-size: 32px;
    font-weight: 900;
    color: rgba(191, 96, 138, 1);
    text-transform: uppercase;
}

.wrapper {
    text-align: center;
    padding-top: 52px;
    padding-bottom: 100px;


    background-image: url(./img/рука\ с\ мылом.png);
    background-repeat: no-repeat;
    background-position: center 170px;

    @media (max-width: 850px) {
        background-position: center 115px;
    }

    h1 {
        font-size: 115px;
        text-transform: uppercase;
        color: white;
        margin-bottom: 300px;

        @media (max-width: 850px) {
            font-size: 75px;
        }
    }


}


.wrapper1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;

    @media (max-width:800px) {
        grid-template-columns: 1fr 1fr;
    }
}

.card1 {
    text-align: center;
    img {
        max-width: 350px;
        width: 100%;
        aspect-ratio: 1/1;
        object-fit: contain;
    }

    p{
        font-size: 26px;
        color:  #4D0122;
        text-align: center;
        padding-top: 60px;
    }

}


.title {
    text-align: center;
    padding: 90px 0 60px;
    font-size: 55px;
    color: #BF608A;
    text-transform: uppercase;

    @media (max-width:500px) {
        font-size: 35px;
    }
}

.section1 {
    padding-bottom: 100px;
}


/* catalog */

.catalog {
    padding-bottom: 90px;

    .title{
        color:#ACBF60

    }
}


.cattalog__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr; 
    gap: 40px;

    @media (max-width: 1000px) {
        grid-template-columns: 1fr 1fr 1fr;
        
    }

    @media (max-width: 700px) {
        grid-template-columns: 1fr 1fr;
        
    }

    @media (max-width: 400px) {
        grid-template-columns: 1fr;
        
    }


}
.cattallog__card {
    img{
        width: 100%;
    }
    color: #4D0122;
    font-size: 18px;
    gap: 15px;
    display: flex;
    flex-direction: column;
    text-align: center;
}
.catalog__price {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    

    p{
        margin-right: auto;
    }

    button{
        background: linear-gradient(80.25deg, #FF80B8 26%, #FAFFE6 100.38%),
        linear-gradient(0deg, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3));
        border: 1px solid;

        border: 1px solid;

    border-image-source: linear-gradient(80.25deg, #FF80B8 26%, #FAFFE6 100.38%),
    linear-gradient(0deg, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3));
    border: 1px solid;


    width: 34px;
    height: 34px;
    border: none;
    border-radius: 50%;
    font-size: 26px;
    font-weight: 600;


    }
}



/* ABOUT */


.about {
    padding-bottom: 90px;

}

.about__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;

    @media (max-width:1000px) {
        grid-template-columns: 1fr;
    }
}
.abouy__img {
    max-width: 570px;
    width: 100%;
}
.about_text {
    display: flex;
    flex-direction: column;
    gap: 25px;

    p{
        color: #4D0122;
        font-size: 26px;
    }
}

/*Contact */
.contacts {
    padding-bottom: 100px;
    p{
        color: #4D0122;
        font-size: 26px;
    }

    .title{
        color: #ACBF60;
    }
}

.contacts__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;

    @media (max-width:1000px) {
        grid-template-columns: 1fr;
    }
}
.contacts__card {
    display: flex;
    flex-direction: column;
    gap: 20px;

    input{
        padding: 22px;
        border: 2px solid #ACBF60;
        border-radius: 16px;
        font-size: 26px;

        &::placeholder{
            color: #ACBF60;
        }
    }
}
.btn {
}
.contacts__text {
    p {
        color: #4D0122;
        font-size: 26px;
    }
}

.conact_icons {
    display: flex;
    gap: 40px;
    margin-top: 20px;

    a{
        transition: all 0.4s;

    &:hover {
        scale: 1.1;
    }
    }
}

.container6 {

    background-color: #BF608A;
   
}


.pena{
    display: flex;
    justify-content: center;
 
     @media (max-width: 1100px) {
         display: flex;
         justify-content: center;
         flex-direction: column;
         padding-left: -140px;
         
     }
     h4 {
         font-size: 32px;
         font-weight: 900;
         line-height: 39.01px;
         color: #FAFFE6;
         padding-top: 70px;
         padding-bottom: 30px;
         margin: 0 auto;
         max-width: 1600px;
 
         
     }
 }
 
     .wrap6 {
         display: flex;
         justify-content: center;
         align-items: center;
         gap: 239px;
     
         @media (max-width: 1100px) {
             flex-wrap: wrap;
             flex-direction: column;
             gap: 30px;
             
         }
     
         
     
         
         
     
         
     
         img{
             width: 40px;
             height: 40px;
             padding-bottom: 10px;
             padding-right: 40px;
     
             transition: all 0.4s;
     
             &:hover {
                 scale: 1.1;
     
         }
      
         }
     
     }
     
     .text6{
         display: flex;
         justify-content: center;
         gap: 50px;
         align-items: center;
     
     
         @media (max-width: 1100px) {
             gap: 30px;
             
         }
         @media (max-width: 600px) {
             gap: 18px;
             
         }
         
         a {
             font-size: 12px;
             font-weight: 700;
             line-height: 16px;
             color: #FAFFE6;
             text-decoration: none;
             transition: all 0.4s;
             border-bottom: 1px solid transparent;
            
     
     
             &:hover {
                  border-bottom: 1px solid #FAFFE6;
                  
             } 
     
     
             
             
         }
     }